
body{
	background-color: #000;
	color: #3f876c;
	font-family: Arial, Helvetica, sans-serif;
	line-height: 1.8em;
	margin: 0; 
	font-weight:normal;

}

.responsive{
	max-width:100%;
	height:auto;
	margin-top: 10px;
	border: 5px;
}

.container{
	width:80%;
	margin:auto; 
	padding-top: 10px;

}
 

.p1{
	background-color:#808482;
	color:#022812;
	border: 2px #ff8800 solid;
	text-align: center;
	font-size:23px;
	padding-top: 0;
}

.p1 h1{
	text-align: center;
	font-family: Tahoma;
	font-style:italic;
	line-height: 1.6em;
}

.cat {
	border: 5px #022812 solid;
	margin: 30px;
	width:300px;
	background-color: #ff8800;
	color:#000;
}

.cat h2{
	text-align: center;
	text-decoration: underline;
	margin-bottom: 0px;

}


.footer_container{
background-color:#378436;
padding-bottom: 0px;
border:3px #022812 solid;	
}

.footer{
	border:3px #022812 solid;
	width: 100%;
	text-align: center;
	font-size: 14px;
	padding-bottom: 0px;
	color: #000;
	font-weight: bold;
}

.map {
border: 0;
width: 100%;

}
